@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {

  .header {
    @apply sticky top-0 z-10 border-b border-zinc-800 bg-zinc-950/90 backdrop-blur; 
  }

  .summary-card {
    @apply rounded-3xl bg-gradient-to-br from-lime-400 to-green-500 p-5 text-black; 
  }

  .welcome-section-cols {
    @apply rounded-2xl bg-black/10 p-3; 
  }

  .btn {
    @apply transition w-full font-semibold text-center bg-blue-400/70 text-sm hover:scale-105 px-4 py-2.5 border rounded-xl active:scale-95 border-white/20;
  }

  .btn-2 {
    @apply font-semibold text-center bg-red-400/80 text-sm w-full px-4 py-2.5 border active:scale-95 rounded-xl border-white/20; 
  }

  .btn-3 {
    @apply text-xs font-semibold text-center px-3 py-2 border rounded-lg active:scale-95 border-white/20 whitespace-nowrap; 
  }

  .input {
    @apply p-1 border border-gray-500 rounded-md w-full; 
  }

  .main-page {
    @apply text-center p-4 min-h-dvh flex flex-col gap-4 bg-black mx-auto max-w-md; 
  }

  .card {
    @apply border border-white/10 bg-white/5 p-4 shadow-sm; 
  }

  .landing-outer {
    @apply min-h-dvh bg-black flex items-center justify-center; 
  }

  .landing-inner {
    @apply flex flex-col gap-5 mx-auto w-full p-4 max-w-sm; 
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lucida Console, 'Courier New', Courier, monospace;
}
